@font-face {
  font-family: "iconfont"; /* Project id 3055908 */
  src: url('//at.alicdn.com/t/font_3055908_0tf99ql1qz1f.woff2?t=1640287878448') format('woff2'),
  url('//at.alicdn.com/t/font_3055908_0tf99ql1qz1f.woff?t=1640287878448') format('woff'),
  url('//at.alicdn.com/t/font_3055908_0tf99ql1qz1f.ttf?t=1640287878448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu1:before {
  content: "\e60b";
}

.icon-essential-information:before {
  content: "\e612";
}

.icon-houtaiguanli-xitongguanliyuan:before {
  content: "\e6dc";
}

.icon-shouye:before {
  content: "\e608";
}

.icon-yuyue:before {
  content: "\e60d";
}
